# Node modules
node_modules/

# Logs
*.log
logs/
npm-debug.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Docker-related
docker-compose.override.yml
*.local.yml

# Build artifacts
dist/
build/

# IDE/editor folders
.vscode/
.idea/

# Misc
*.swp
*.swo
